---
title: Le Wagon - Middleman
---
<div id="home">
  <div class="wrapper">
    <%= partial("layouts/partials/banner", locals: {city: "berlin"}) %>
    <div class="cards container">
      <h2>Recent Flats</h2>
      <div class="row">
        <% data.flats.each do |user, city| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= partial("layouts/partials/card", locals: { city: city })%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
