---
title: Le Wagon - Middleman
---

<div class="wrapper">
  <%= partial("layouts/partials/banner") %>
  <div class="cards container">
    <h2>Recent Flats</h2>
    <div class="row">
      <% %w[Shanghai Chengdu Berlin Paris].each do |city| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= partial("layouts/partials/card", locals: { city_name: city })%>
        </div>
      <% end %>
    </div>
  </div>
</div>
